

/* HOME PAGE */ 

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.center-image {
  height: 150px;
  width: 150px;
  display: block;
  margin-top: 100px;
}

.center-text {
  font-family: 'Bungee', cursive;
  font-size: 24px;
  margin-top: 10px;
  color:#fe019a;
}

.intro {
  text-align: center;
  padding: 20px;
  color:#fe019a;
  margin-bottom: 20px;
  
}

h2 {
  font-family: 'Press Start 2P', sans-serif;
}

.start-quiz-btn {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background-color: #ff4c4c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.start-quiz-btn:hover {
  background-color: #e83a3a;
}

/* SCORE PAGE */ 

.scoretable {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#fe019a; 
}

#scoreboardforcss{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

#scoreboardforcss th, #scoreboardforcss td {
  padding: 10px;
  border: 1px solid black;
}

#scoreboardforcss th {
  text-align: center;
}

/* QUIZ */ 
.q-a {
   
  color: #fe019a;
  margin: auto;
  width: 50%; 
  padding: 10px;  
  border-radius: 1%;
  font-family: 'Lato', sans-serif;
}


*:focus {outline: none;}

body {
 font-family: 'M PLUS Rounded 1c', sans-serif;
 text-align: center;
 background-color: #000000;

}

input,button {
 display: block; 
 margin: auto; 

}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000; 

}

.submit-button {
  margin-top: 20px;

}

/* MEDIA QUERIES */ 

@media (min-width: 320px) {
.q-a {
 font-size: 7px; 
}


@media (max-width: 767px) {
    .q-a {
        font-size: 10px;
    }
} 
@media (min-width: 768px) {
    .q-a {
        font-size: 20px; 
    }
}  
}

/* NAVBAR */ 

.top-nav {
  display: flex;
  justify-content: flex-end;
  color: #fe019a; 
  background-color: #000000;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav ul li {
  margin-right: 15px;
}

.top-nav ul li a {
  text-decoration: none;
  color: #fe019a;
  font-size: 18px;
  font-family: 'Lato', sans-serif; 
}

.top-nav ul li a:hover {
  color: #000000;
  background-color: #fe019a;
}
  
/* STYLE TO SUBMIT BUTTON*/ 

#myButton  {
  font-size: 24px; 
  background-color: #37a314; 
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ffff;
  text-transform: uppercase;
  text-decoration: none; 

}

a,  button {
    text-decoration: none;
}

/* LOGGED IN PAGE */ 

.loginform {
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  font-size: 1.2em;
}

.loginform label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fe019a;
}

.loginform input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
}

#submitButton {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background-color: #ff4c4c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #555;
  transform: scale(1.1);
}


/* PASSED W3C CSS Validator */ 

