* {
    font-family: 'Lora', serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
}




*:focus {outline: none;}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    background-color: #E9D8B7;

}

input,button {
display: block; 
margin: auto; 

}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000; 

}


